.container
  header.header
    h1 The Kioku Nine
    .run
      p#message(style='display:none;') AutoSave..
  .org_text
    .mol_text
      h3 Area A
      textarea#kioku1.kioku1(class="event" data-kioku="A" name='kioku1', data-i='1')
      p
        input#clear1(class="clear" data-clear="clearA" type='button', value='Delete A')
    .mol_text
      h3 Area B
      textarea#kioku2.kioku2(class="event" data-kioku="B" name='kioku2', data-i='2')
      p
        input#clear2(class="clear" data-clear="clearB" type='button', value='Delete B')
    .mol_text
      h3 Area C
      textarea#kioku3.kioku3(class="event" data-kioku="C" name='kioku3', data-i='3')
      p
        input#clear3(class="clear" data-clear="clearC" type='button', value='Delete C')
    .mol_text
      h3 Area D
      textarea#kioku4.kioku4(class="event" data-kioku="D" name='kioku4', data-i='4')
      p
        input#clear4(class="clear" data-clear="clearD" type='button', value='Delete D')
    .mol_text
      h3 Area E
      textarea#kioku5.kioku5(class="event" data-kioku="E" name='kioku5', data-i='5')
      p
        input#clear5(class="clear" data-clear="clearE" type='button', value='Delete E')
    .mol_text
      h3 Area F
      textarea#kioku6.kioku6(class="event" data-kioku="F" name='kioku6', data-i='6')
      p
        input#clear6(class="clear" data-clear="clearF" type='button', value='Delete F')
    .mol_text
      h3 Area G
      textarea#kioku7.kioku7(class="event" data-kioku="G" name='kioku7', data-i='7')
      p
        input#clear7(class="clear" data-clear="clearG" type='button', value='Delete G')
    .mol_text
      h3 Area H
      textarea#kioku8.kioku8(class="event" data-kioku="H" name='kioku8', data-i='8')
      p
        input#clear8(class="clear" data-clear="clearH" type='button', value='Delete H')
    .mol_text
      h3 Area I
      textarea#kioku9.kioku9(class="event" data-kioku="I" name='kioku9', data-i='9')
      p
        input#clear9(class="clear" data-clear="clearI" type='button', value='Delete I')

    .run_bottom
      p#message2(style='display:none;') AutoSave..

.container
  .lay_Monokai
    h2 We love Monokai. Monokai Color Code
    code.tagname
      tag name #f92672(249,38,114)
    code
      function argument #a6e22e(166,226,46)
    code
      tag attribute #fd971f(253,151,31)
    code
      storage type #66d9ef(102,217,239)
    code
      user-defined constant #ae81ff(174,129,255)
    code
      string #e6db74(230,219,116)
    code
      comment #75715e (117,113,94)
    code
      background #272822(39,40,34)
